* {
  margin: 0;
  padding: 0;
}

a, a:visited {color: inherit; text-decoration: none; display: contents;}
button, input {color: inherit; font-family: inherit; font-size: inherit; font-weight: inherit; border: none;}
button {cursor: pointer;}

html {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: calc(16px + (20 - 16) * ((100vmax - 400px) / (1600 - 400)));
}

body {
  --text: #111414;
  --background: #fbffff;
  --offwhite: #fbffff;

  --primary: #ffcaba;
  --secondary: #c9676f;

  --blue: #363e59;
  --blue-hover: #4c5675;

  --github-background: #ffcaba;
  --error: maroon;
  
  height: 100%;
  color: var(--text);
  background: var(--background);
  transition: background-color 0.2s ease-in-out;
}

main {
  width: 90vw;
  margin: 0 auto;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  max-width: 1200px;
}

main .wordmark {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

main .description {
  margin-top: 3rem;
  font-size: 1.2rem;
}

main .account {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  transition: max-width 0.3s ease-in-out;
}

main .account > button {
  width: 45%;
  height: 2.5rem;
  background: hsl(var(--hue), 60%, 60%);
  color: var(--background);
  font-size: 1.5rem;
  border-radius: 1.25rem;
  margin: 0.2rem 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.3);
  transition: background-color 0.1s ease-in-out,
    width 0.3s ease-in-out,
    height 0.3s ease-in-out;
  outline: none;
  overflow: hidden;
}

main .account .signin {--hue: 28;}
main .account .signup {--hue: 278;}

main .account > button:not([open]):hover,
main .account > button:not([open]):active {
  background: hsl(var(--hue), 60%, 70%);
}

main .account > button > div {
  width: 100%;
  height: 100%;
}

.account-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.account-form input {
  width: 80%;
  height: 2rem;
  margin: 1rem 1.5rem;
  margin-right: auto;
  background: none;
  color: var(--offwhite);
  border-bottom: 2px solid var(--offwhite);
  outline: none;
}

.account-form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.account-form button {
  width: 8rem;
  height: 2.5rem;
  border-radius: 2rem;
  border: 2px solid var(--offwhite);
  background: none;
  color: var(--offwhite); 
  margin: 1rem 2rem 0.5rem auto;
  outline: none;
}

.account-form button:hover,
.account-form button:active {
  background: rgba(255, 255, 255, 0.2);
}

.theme {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.theme button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.3);
  transition: background-color 0.1s ease-in-out;
  outline: none;

  --hue: 22;
  background: hsl(var(--hue), 64%, 57%);
  
  --image: url("/images/sun.svg");
  -webkit-mask: var(--image) no-repeat center;
  mask: var(--image) no-repeat center;
  -webkit-mask-size: 80%;
  mask-size: 80%;
}

.theme button:hover,
.theme button:active {
  background: hsl(var(--hue), 64%, 70%);
}

.github {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  text-align: right;
  background: var(--github-background);
  border-radius: 1rem 0 0 0;
  transition: background-color 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.github a:hover span,
.github a:active span {
  opacity: 0.7;
}

.error {
  display: block;
  position: relative;
  width: 100%;
  height: 1.5rem;
  margin: 0.5rem auto;
  margin-top: 3rem;
  color: var(--error);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

@media all and (max-width: 800px) {
  main .account button {
    width: 80%;
  }
  main .wordmark {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 3.5px;
}

::selection { 
  background: var(--primary);
}